
body {
    font-family: Arial, sans-serif;
    background-color:#96ff4e;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Inicio{
    align-items: center;
    padding-top: 500px;
}
